---
import { IMAGE_URL } from '../../constants';

interface Props {
	mainImage: string;
	year: number;
	description: string;
}

const { mainImage, year, description }: Props = Astro.props;
---

<section class="title-container">
	<div class="title">
		<h1>ATRA</h1>
		<h2>ARQUITECTURA</h2>
	</div>
	<div class="name-container">
		<h3>Jaume Pérez Llopis</h3>
	</div>
</section>
<div class="image-container">
	<picture class="responsive-image">
		<source
			media="(max-width: 768px)"
			srcset={`${IMAGE_URL}/${mainImage}`}
		/>
		<img
			src={`${IMAGE_URL}/${mainImage}`}
			alt="Hero image"
		/>
	</picture>
	<figure
		class="hero-image"
		style={`background-image: url(${IMAGE_URL}/${mainImage})`}
	>
	</figure>
	<div class="project">
		<p>{year}</p>
		<p>{description}</p>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', event => {
		const figure = document.querySelector('figure');

		if (!figure) return;

		const initialBackgroundPositionY = window.getComputedStyle(figure).backgroundPositionY;

		window.addEventListener('scroll', () => {
			const offset = window.scrollY;

			if (offset > 0) {
				const newPositionY = -(offset * 0.5) + 'px';
				figure.style.backgroundPositionY = `calc(${initialBackgroundPositionY} + ${newPositionY})`;
			}
		});
	});
</script>

<style scoped>
	.title-container {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 2vw;
		margin-top: 3rem;
	}

	.title {
		overflow: hidden;
		display: flex;
		gap: 0.5rem;
		font-family: 'Inter';
	}

	h1 {
		font-family: 'Inter' !important;
		font-size: 8.2rem;
		color: var(--contrast-color);
		margin: 0;
		font-weight: 600;
		opacity: 0;
		transform: translateY(110%);
		animation: fade-up 0.8s ease-out forwards;
	}

	h2 {
		font-family: 'Inter' !important;
		font-size: 8.2rem;
		color: var(--contrast-color);
		margin: 0;
		font-weight: 300;

		opacity: 0;
		transform: translateY(110%);
		animation: fade-up 0.8s ease-out forwards 0.1s;
	}

	.name-container {
		align-self: end;
	}

	h3 {
		font-weight: 300;
		font-size: var(--font-small);
		margin: 0;
		margin-right: 1.8rem;

		opacity: 0;
		transform: translateY(110%);
		animation: fade-up 0.5s ease-out forwards 0.5s;
	}

	.image-container {
		position: relative;
		width: 100vw;
		height: 70lvh;
		margin-bottom: 2rem;
	}

	.responsive-image {
		display: none;
		width: 100vw;
		height: 100%;
	}

	.hero-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		background-size: cover;
		background-position: center;
		margin: 0;
	}

	.project-description {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-left: 12.5vw;
	}

	.project-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
	}

	.image-container::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: var(--background-color);
		animation: revealImage 1.2s ease-in-out forwards 0.3s;
	}

	.project {
		position: absolute;
		bottom: 1rem;
		right: 1rem;

		display: flex;
		flex-direction: column;
		align-items: end;
		color: var(--background-color);
	}

	.project p {
		margin: 0.1rem;
		font-size: var(--font-small);
	}

	@keyframes fade-up {
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	.title,
	h1,
	h2 {
		text-align: center;
		font-size: 2rem;
	}

	@media screen and (max-width: 450px) {
		.title-container {
			padding-top: 0.5rem;
		}

		.hero-image {
			display: none;
		}

		.image-container {
			height: 70lvh;
		}

		.responsive-image {
			display: block;
			margin-top: 3rem;
		}
	}

	@media screen and (min-width: 530px) {
		h1,
		h2 {
			font-size: 2.5rem;
		}
	}

	@media screen and (min-width: 700px) {
		h1,
		h2 {
			font-size: 4rem;
		}
	}

	@media screen and (min-width: 900px) {
		h1,
		h2 {
			font-size: 5rem;
		}
	}

	@media screen and (min-width: 1100px) {
		h1,
		h2 {
			font-size: 6.5rem;
		}
	}

	@media screen and (min-width: 1300px) {
		h1,
		h2 {
			font-size: 8.5rem;
		}
	}

	@media screen and (min-width: 1500px) {
		h1,
		h2 {
			font-size: 10.5rem;
		}
	}
</style>
