---
import { IMAGE_URL } from '../../constants';

interface Props {
	images: string[];
}

const { images } = Astro.props;
---

<ul
	class="bento"
	class:list={[
		{
			bento1: images.length === 1,
			bento2: images.length === 2,
			bento3: images.length === 3,
			bento4: images.length === 4,
			bento5: images.length === 5,
			bento6: images.length === 6,
			bento7: images.length === 7,
			bento8: images.length === 8,
			bento9: images.length === 9,
			bento10: images.length === 10,
			bento11: images.length === 11,
			bento12: images.length === 12,
		},
	]}
>
	{
		images.map((image, i) => (
			<li
				id={`item-${i}`}
				class={`show ${images.length > 3 && `item-${i}`} `}
			>
				<picture>
					<img
						src={`${IMAGE_URL}/${image}`}
						alt={image}
					/>
				</picture>
			</li>
		))
	}
</ul>

<style scoped>
	.bento {
		position: relative;
		margin-top: 3rem;
		width: 95vw;
		max-width: var(--max-width);
		margin: 0;
		padding: 0;
		display: grid;

		justify-content: center;
		gap: 0.5rem;
		padding: 0;
		grid-auto-rows: minmax(150px, auto);

		grid-template-areas:
			'a b c'
			'a d c'
			'e d f'
			'e g f'
			'h j k'
			'i j l'
			'i m l';
	}

	.bento1 {
		height: 60vh;
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas: none;
	}

	.bento2 {
		height: 60vh;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: none;
	}

	.bento3 {
		height: 60vh;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: none;
	}

	.bento4 {
		height: 100vh;
		grid-template-areas:
			'a b c'
			'a d c';
	}

	.bento5 {
		height: 100vh;
		grid-template-areas:
			'a a b'
			'c d e';
	}

	.bento6 {
		height: 100vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e e f';
	}

	.bento7 {
		height: 100vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g';
	}

	.bento8 {
		height: 200vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g'
			'h f g';
	}

	.bento9 {
		height: 200vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g'
			'h f i';
	}

	.bento10 {
		height: 200vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g'
			'h i j';
	}

	.bento11 {
		height: 250vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g'
			'h i j'
			'h k j';
	}

	.bento12 {
		height: 250vh;
		grid-template-areas:
			'a b c'
			'a d c'
			'e f g'
			'e h g'
			'i k j'
			'i l j';
	}

	.item-0 {
		grid-area: a;
	}

	.item-1 {
		grid-area: b;
	}

	.item-2 {
		grid-area: c;
	}

	.item-3 {
		grid-area: d;
	}

	.item-4 {
		grid-area: e;
	}

	.item-5 {
		grid-area: f;
	}

	.item-6 {
		grid-area: g;
	}

	.item-7 {
		grid-area: h;
	}

	.item-8 {
		grid-area: i;
	}

	.item-9 {
		grid-area: j;
	}

	.item-10 {
		grid-area: k;
	}

	.item-11 {
		grid-area: l;
	}

	.common {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		justify-content: center;
		width: 80vw;
		max-width: var(--max-width);
	}

	li {
		overflow: hidden;
	}

	img {
		transition: transform 0.5s ease;
	}

	li:hover img {
		transform: scale(1.1);
	}

	@media (width < 800px) {
		.bento {
			grid-template-areas:
				'a b'
				'c d'
				'e f'
				'g h'
				'i j'
				'k l';
		}
	}

	@media (width < 600px) {
		.bento {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 95vw;
		}
	}
</style>
