---
import { IMAGE_URL } from '../../constants';
import { strCapitalized } from '../../utils/strCapitalized';

interface Props {
	title: string;
	description: string;
	year: number;
	mainImage: string;
}

const { title, description, year, mainImage }: Props = Astro.props;
---

<section>
	<div class="project-description">
		<h2>{year}</h2>
		<p>{strCapitalized(description)}</p>
	</div>
	<figure
		class="hero-image"
		style={`background-image: url(${IMAGE_URL}/${mainImage})`}
	>
		<div class="project-title">
			<h1>{strCapitalized(title)}</h1>
		</div>
	</figure>
</section>

<script>
	document.addEventListener('DOMContentLoaded', event => {
		const figure = document.querySelector('figure');

		if (!figure) return;

		const initialBackgroundPositionY = window.getComputedStyle(figure).backgroundPositionY;

		window.addEventListener('scroll', () => {
			const offset = window.scrollY;

			if (offset > 0) {
				const newPositionY = -(offset * 0.5) + 'px';
				figure.style.backgroundPositionY = `calc(${initialBackgroundPositionY} + ${newPositionY})`;
			}
		});
	});
</script>

<style scoped>
	section {
		display: flex;
		flex-direction: column;
		align-items: start;

		width: 100vw;
		margin-bottom: 8rem;
	}

	.project-description {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-left: 12.5vw;
	}

	.project-title {
		margin-bottom: -2rem;
		color: white;
		z-index: 10;
	}

	h1 {
		font-weight: bold;
		text-transform: uppercase;
		font-size: var(--font-big);
	}

	h2,
	p {
		font-weight: 200;
		font-size: var(--font-small);
	}

	figure {
		position: relative;
		overflow: hidden;
		display: grid;
		place-items: center;
		width: 100%;
		height: 70dvh;
		margin: 0;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	figure::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
	}

	@media screen and (max-width: 450px) {
		.hero-image {
			background-size: 650px 600px;
			background-position: bottom;
			height: 70dvh;
			padding-top: 5rem;
			margin-top: 4rem;
		}

		.project-title {
			margin-bottom: 2rem;
		}

		.project-description h2 {
			display: none;
		}

		.project-description {
			padding: 0 1rem;
			margin-left: 0;
		}

		p {
			font-size: 1.3rem;
			margin-top: 3rem;
			margin-bottom: -1rem;
		}
	}
</style>
