---
import type { File } from '../api/index';
import { IMAGE_URL } from '../constants';
import { strCapitalized } from '../utils/strCapitalized';

interface Props {
    title: string;
    description: string;
    year: number;
    mainImage: File;
}

const { title, description, year, mainImage }: Props = Astro.props;
---

<section>
    <div class="project-info">
        <div class="project-title">
            <h2>{strCapitalized(title)}</h2>
            <h2>{year}</h2>
        </div>
        <h2>{strCapitalized(description)}</h2>
    </div>
    <picture>
        <img
            src={`${IMAGE_URL}/${mainImage.Key}`}
            alt={`Main image of ${title} project`}
        />
    </picture>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: start;

        width: 80vw;
        max-width: var(--max-width);
    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .project-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: -2rem;
    }

    h2 {
        font-weight: 200;
        font-size: 1.3rem;
    }

    picture {
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 60vh;
        border-top-right-radius: 4rem;
    }

    @media (width < 350px) {
        .project-title {
            margin-bottom: -1rem;
        }

        h2 {
            font-weight: 200;
            font-size: 1rem;
        }
    }
</style>
